.counter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  font-size: 20px;
}

.btn-container > button {
  padding: 5px 0px 5px 0px;
  width: 150px;
  border-radius: 2px;
  color: rgb(255, 255, 255);
}

.counter-container > button {
  background-color: rgb(255, 70, 70);
}
